<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

    </head>

    <body>

        <nav class="main-header navbar navbar-expand navbar-white navbar-light" th:fragment="cabecalho">
            <!-- Left navbar links -->
            <!-- Left navbar links -->
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" data-widget="pushmenu" href="#" role="button" style="color: white"><i
                            class="fas fa-bars"></i></a>
                </li>
            </ul>

            <!-- Right navbar links -->
            <ul class="navbar-nav ml-auto">

                <!-- <a class="nav-link" data-widget="control-sidebar" href="#" class="d-block" style="color: white"><i
                class="fas fa-user"></i> Helder Josue</a> -->

                <li class="nav-item">
                    <a class="nav-link" data-widget="control-sidebar" href="#" style="color: white">
                        <i class="fas fa-user"></i> Admin
                    </a>
                </li>
                <li class="nav-item">
                    <form th:action="@{/logout}" method="post">

                        <button type="submit" class="nav-link btn" style="color: white; border:none;"><i
                                class="fas fa-sign-out-alt"></i>
                            Sair</button>
                        <!--                         <button type="submit" class="btn  "
                            style=" border-color: #FFF;font-size:13px; border-width: 1.5px;color: #000; background-color: #C2CAD0">
                            <i class="fa fa-sign-out" style="margin-right: 8px"></i>Sair
                        </button> -->


                    </form>

                </li>
            </ul>
        </nav>
    </body>

</html>